@tailwind base;
@tailwind components;
@tailwind utilities;



/* *{
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s
} */

:root {
  --background: #ffffff;
  --foreground: #131313;
}

@font-face {
  font-family: "Mr-Eaves-XL";
  src: url("fonts/MrEavesXLModOT-Reg.woff2");
}

@font-face {
  font-family: "Mr-Eaves-XL-Bold";
  src: url("fonts/MrEavesXLModOT-Bold.woff2");
}

@font-face {
  font-family: "Ivy-Mode";
  src: url("fonts/IvyMode-Regular.woff2");
}

.sub-div{
  transition: all .3s;
}

.sub-menu {
  font-family: "Ivy-Mode";
  font-size: 22px;
  text-transform: none;
  letter-spacing: 0;
  transition: all .3s;
  font-weight: 700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131313;
    --foreground: #ffffff;
  }
}

body {
  color: white;
  background: #131313;
  font-family: "Mr-Eaves-XL", sans-serif;
  min-height: 100vh;
  /* font-weight: 900; */
}

.navbar{
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .2em;
  font-weight: 700;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s
}

@media screen and (max-width: 1279px) {
    .header.open {
      background: rgba(19,19,19,0.97);
      padding: 40px 30px;
      z-index: 1000;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s
    }

    .header {
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s
    }
}



.line {
  background: #c9a66d;
  width: 40px;
  height: 2px;
  /* position: absolute; */
  /* left: 0; */
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s
}

#menu-icon.active .line-1{
  transform:translateY(12px) translateX(0) rotate(45deg);
  -webkit-transform:translateY(12px) translateX(0) rotate(45deg);
  -moz-transform:translateY(12px) translateX(0) rotate(45deg)
}

#menu-icon.active .line-2 {
  opacity:0
}

#menu-icon.active .line-3 {
  transform:translateY(-12px) translateX(0) rotate(-45deg);
  -webkit-transform:translateY(-12px) translateX(0) rotate(-45deg);
  -moz-transform:translateY(-12px) translateX(0) rotate(-45deg)
}

.subOpen {
  transform: translateY(-8px) translateX(16px) rotate(45deg) !important;
  -webkit-transform: translateY(-8px) translateX(16px) rotate(45deg) !important;
  -moz-transform:rotate(45deg) !important;
  transition: all 0.4s;
}


.hero:after{
  background: -moz-linear-gradient(top, rgba(19,19,19,0) 1%, #131313 100%);
  background: -webkit-linear-gradient(top, rgba(19,19,19,0) 1%, #131313 100%);
  background: linear-gradient(to bottom, rgba(19,19,19,0) 1%, #131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00131313', endColorstr='#131313',GradientType=0 );
  height: 60vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0
}

h1 {
  font-family: 'Ivy-Mode', sans-serif;
  font-size: 54px;
  line-height: 135%;
  text-transform: none;
  color: #fff;
}

h2 {
    font-family: 'Ivy-Mode', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 135%;
    text-transform: none;
    color: #fff
}

h3 {
    font-family: 'Ivy-Mode', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 135%;
    text-transform: none;
    color: #fff
}

h4 {
    font-family: 'Ivy-Mode', sans-serif;
    font-size: 29px;
    font-weight: 400;
    line-height: 135%;
    text-transform: none;
    color: #fff
}

.lg-sub-html h4 {
  font-family: 'Mr-Eaves-XL', sans-serif;
  font-size: 18px!important;
  font-weight: 400!important;
}

p, .para {
    font-size: 20px;
    font-weight: 400;
    line-height: 180%;
    color: #fff
}

@media screen and (max-width: 667px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size:25px
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 44px;
  }
  h2 {
      font-size:30px;
  }
}

@media screen and (min-width:1024px) {
  .group:hover .sub-div {
    display: flex;
  }
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 35px;
  }
}

.button {
  display: inline-table;
  text-decoration: none;
  line-height: 100%;
  font-size: 17px;
  text-transform: uppercase;
  /* background: none; */
  border: 1px solid #c9a66d;
  text-align: left;
  padding: 14px 40px 14px 35px;
  position: relative;
  cursor: pointer;
  letter-spacing: .1em;
}

.button.about-btn{
  padding: 14px 60px 14px 55px!important;
}

.button.about-hbtn{
  padding: 14px 20px 14px 20px!important;
}

.button:hover{
  color: #c9a66d;
}

.btn{
  transition: .25s ease all;
}

.slick-arrow.slick-next {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
} 

.slick-next:before {
  content: ''!important;
  background-image: url('/Arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: transparent; */
  border: 1px solid #444;
  padding: 19px 50px;
  margin-left: -120px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .slick-next:before {
    padding: 14px 40px;
  }
}

@media screen and (max-width: 400px) {
  .slick-next:before {
    padding: 14px 35px;
  }
}

.small-gold{
  color: #c9a66d;
  letter-spacing: .2em;
  font-size: 20px;
  text-transform: uppercase;
}

.home-execs {
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 0px !important;
}

/* .chairman {
  background-image: url(/nba-ylf-abuja-chairman.webp);
}

.chairman:after{
  background: -moz-linear-gradient(top, rgba(19,19,19,0) 1%, #131313 100%);
  background: -webkit-linear-gradient(top, rgba(19,19,19,0) 1%, #131313 100%);
  background: linear-gradient(to bottom, rgba(19,19,19,0) 1%, #131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00131313', endColorstr='#131313',GradientType=0 );
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0
}

.chairman:before{
  background: -moz-linear-gradient(bottom, rgba(19,19,19,0) 1%, #131313 100%);
  background: -webkit-linear-gradient(bottom, rgba(19,19,19,0) 1%, #131313 100%);
  background: linear-gradient(to top, rgba(19,19,19,0) 1%, #131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00131313', endColorstr='#131313',GradientType=0 );
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0
} */

.portrait {
  height: 80vh;
  max-height: 600px;
  width: 90vw;
  max-width: 500px;
  border-radius: 200px 100px 200px 100px;
}

.portrait.chair {
  background-image: url(/najib-chairman.webp);
  background-position: top center;
}

.footer{
  background-image: url(/ylf-abuja-footer.webp);
}

/* .footer:before{
  background: -moz-linear-gradient(bottom, rgba(19,19,19,0) 1%, #131313 100%);
  background: -webkit-linear-gradient(bottom, rgba(19,19,19,0) 1%, #131313 100%);
  background: linear-gradient(to top, rgba(19,19,19,0) 1%, #131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00131313', endColorstr='#131313',GradientType=0 );
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0
} */

.about{
  background-image: url('/about-ylf-abuja.webp');
}

.about:after, .exec:after, .page_overlay:after, .general:after {
  background: -moz-linear-gradient(top, rgba(19,19,19,0) 1%, #131313 40%);
  background: -webkit-linear-gradient(top, rgba(19,19,19,0) 1%, #131313 40%);
  background: linear-gradient(to bottom, rgba(19,19,19,0) 1%, #131313 40%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00131313', endColorstr='#131313',GradientType=0 );
  height: 90%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0!important
}

.soon:after, .section_overlay:after {
  background: -moz-linear-gradient(top, rgba(19,19,19,0) 1%, #131313 100%);
  background: -webkit-linear-gradient(top, rgba(19,19,19,0) 1%, #131313 100%);
  background: linear-gradient(to bottom, rgba(19,19,19,0) 1%, #131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00131313', endColorstr='#131313',GradientType=0 );
  height: 60%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0!important
}

.exec{
  background-image: url('/ylf-abuja-executives.webp');
}

.soon{
  background-image: url('/nba-ylf-abuja-coming-soon.webp');
}

.news-events{
  background-image: url('/news-events.webp')!important;
}

.publications{
  background-image: url('/publications.webp')!important;
}

a:hover{
  color: #c9a66d;
  cursor: pointer;
}

.gallery {
  max-width: 1200px;
  margin: 0 auto;
}
.gallery__item img {
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.leaflet-container {
  height: 200px;
  border-radius: 20px;
  width: 320px;
  overflow: hidden;
}

/* Pagination */
.change-page {
  border: 1px solid #444;
  padding: 5px 25px;
}

.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 60px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: 100%;
}

.active {
  color: #c9a66d;
}

.page-item{
  list-style: none;
  padding: 2px 8px;
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  font-family: 'Ivy-Mode', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 135%;
}

.img-responsive{
  height: auto;
  width: auto;
}

/* Fix zoom in on iOS */
/* .no-touch .hero{
  background-attachment: fixed;
} */

.fixed_bg, .section_bg {
    height: auto;
    padding-top: 0;
    background-attachment: fixed;
    background-position: left top
}

@media screen and (min-width: 668px) {
    .fixed_bg, .section_bg {
        background-position:center center;
        background-size: cover;
    }
}

@media screen and (max-width: 667px) {
    .fixed_bg {
        background-position:top right -450px !important;
        background-size: 350%
    }
}

@media screen and (max-width: 667px) {
    .section_bg {
        background-position:top left -50px!important;
        background-size: 150%
    }
}

/* React Grid Gallery */

.ReactGridGallery_tile{
  background: transparent!important;
}





/* page_overlay
section_overlay
fixed_bg */